#header
{
    display: flex;
    justify-content: center;
    border: 5px solid #192655;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #192655;
    background-color: #F3F0CA;
    font-size: 20px;
    margin-bottom: 10px;
}

#body
{
    border: 5px solid #192655;
    height: 65vh;
    border-radius: 10px;
    background-color: #F3F0CA;
}
